<title>Wallaclone App</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Wallaclone - Keepcoding Fullstack Web Development Bootcamp">
<meta name="author" content="Josué Rubio">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<!-- CSS -->
<link href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
<link href='/css/style.css' rel='stylesheet' />